body{
	color:#00AEEF;
	background-color:white;
	border: 2px solid #00AEEF;
}

button{
	color:#00AEEF;
	background-color:white;
	border: 2px solid #00AEEF;
	border-radius:10px;
	display:block;
	margin:auto;
	position:relative;
	top:110px;
}

button:hover{
	color:white;
	background-color: #00AEEF;
}

.navigation-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-bottom: 2px solid #00AEEF;
	width:100%;
}

.navigation-container a{
	text-decoration:none;
	border-left: 2px solid #00AEEF;
	color:#00AEEF;
}

.navigation-container p{
	text-align:center;
}

.home-container{
	width:100%;
	height:200px;
	display:grid;
	grid-template-columns:1fr 1fr;
}

.home-container div{
	border-right: 2px solid #00AEEF;
	border-bottom: 2px solid #00AEEF;
}

.home-container img{
	border-bottom: 2px solid #00AEEF;
	text-align:center;
}

.home-container div p{
	text-align:center;
}

.team-container{
	width:90%;
	margin:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.team-container div{
	border: 2px solid #00AEEF;
	border-radius:100%;
	height:300px;
	margin:20px;
	text-align:center;
}

#element-one:hover{
	color:white;
	background-color:#00AEEF;
}

#element-two:hover{
	color:white;
	background-color:#0000FF ;
}

#element-three:hover{
	color:white;
	background-color:#FF00FF ;
}

.about-container{
	width:90%;
	margin:auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-container div{
	border: 2px solid #00AEEF;
	border-radius:10px;
	height:200px;
	margin:15px;
	text-align:center;
}

.about-container div:hover{
	color:white;
	background-color:#00AEEF;
}

.contact-container{
	width:100%;
	text-align:center;
	font-size:25px;
	border-top: 2px solid #00AEEF;
}

